html{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
body{
	margin: 0 auto;
	padding: 0;
	background-color: currentColor;
	font-family: Arial;
}
.complete{
	display: block;
	width: 100%;
	height:20px;
	background-color:red;
}
.complete:hover{
	background-color:crimson;
}
.hot{
	background-color: #0043bf;
}
.hot:hover{
	background-color: darkblue;
}
.main {
	width: 400px;
	min-height: 500px;
	margin: 100px auto;
	margin-bottom: 0;
	background-color: #FFFFFF;
	position: relative;
}
.main h1 {
	text-align: center;
	color: #0043bf;
	padding-top: 15px;
	font-weight: 900;
}
.main ul {
	text-align: center;
	list-style: none;
	display: block;
	padding: 0;
	width: 100%;
	min-height: 250px;
	
	
}
.main ul li {
	width:100%;
	font-size: 18px;
	height: 50px;
	padding-top: 25px;
	
	color: white;
	
	
}
#element{
	font-size: 18px;
	font-weight: 400;
}
#counter{
	font-size: 18px;
	font-weight: 700;
}
.main ul li:hover{
	background-color:darkblue;
}
.main form {
	display: none;
}

.main form input{
	width: 95%;
	border: 1px solid #0043bf;
	margin: 10px;
	height: 30px;
}
#newItemButton #showform{
	color:currentcolor;
	background-color: white;
	border:1px solid #0043bf;
	padding: 10px;
	font-size: 18px;
	display: block;
	margin:40px auto;
}
#newItemButton #showform:hover{
	color: darkblue;
}

.main form input[type=text]{
	padding-left: 10px;
	width: 92%;
}
.main form input[type=submit]{
	color:white;
	height: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #0043bf;
}
.main form input[type=submit]:hover{
	background-color: darkblue;
}
